@use './variables.scss' as *;
@use './functions.scss' as *;
@use 'sass:string';

@mixin b($block) {
  .#{$namespace}-#{$block} {
    @content;
  }
}

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
@mixin include-e($element) {
  $selector: #{&};
  $index: string.index($selector, '__');

  @if $index == null {
    & #{cutTail($selector,'--')}__#{$element} {
      @content;
    }
  } @else {
    & #{cutTail($selector,'__')}__#{$element} {
      @content;
    }
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}
@mixin with-m($modifier) {
  $selector: #{&};

  &#{cutTail($selector,'--')}--#{$modifier} {
    @content;
  }
}
@mixin include-m($modifier) {
  $selector: #{&};

  & #{cutTail($selector,'--')}--#{$modifier} {
    @content;
  }
}

@mixin is($state) {
  &--is-#{$state} {
    @content;
  }
}
@mixin with-is($state) {
  $selector: #{&};

  &#{cutTail($selector,'--')}--is-#{$state} {
    @content;
  }
}
@mixin include-is($modifier) {
  $selector: #{&};

  & #{cutTail($selector,'--')}--is-#{$modifier} {
    @content;
  }
}

@mixin theme($theme) {
  @at-root .#{$theme} & {
    @content;
  }
}
